h3{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
#result {
    font-size:large;
}
#answer1{
    font-family: 'Condiment', cursive;
    font-size: xx-large;
}
#answer2{
    font-family: 'Delius Unicase', cursive;
    font-size: xx-large;
}
#answer3{
    font-family: 'Devonshire', cursive;
    font-size: xx-large;
}
